:root {
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(189, 41%, 84%);
}
.main-container {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    font-family: "Space Mono", monospace;
    color: hsl(183, 100%, 15%);
    font-size: 2rem;
    font-weight: 700;
}
.input {
    width: fit-content;
    padding: 5px 10px;
    background-color: hsl(189, 41%, 97%);
}
.input input{
    border: none;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    font-family: 'Space Mono';
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}
input:focus{ 
    border: none;
    outline-style: none;
    box-shadow: none;
  }
.calc-container {
    margin-top: 2%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    font-family: "Space Mono", monospace;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: darkslategrey;
    max-width: 20rem;
}
.bill-section {
    font-size: 1rem;
    font-weight: 400;
    margin: 0rem 1rem;
}
.tip-section {
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 1rem;
}
.no-of-people {
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 1rem;
}
.right {
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
    max-width: 20rem;
}

.outputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.tip-amount, .total {
    display: flex;
    justify-content: space-between;
}

.reset-button a{
    background-color: hsl(172, 67%, 45%);
    text-decoration: none;
    color: var(--Very-dark-cyan);
    font-weight: 800;
    border-radius: 5px;
    padding: 0.5rem 7rem;
}
.words {
    margin-top: 2%;
}
.words h5 {
    color: var(--White);
}
.words h6 {
    color: var(--Dark-grayish-cyan);
}
.numbers h1 {
    color: hsl(172, 67%, 45%);
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.tip-percent {
    display: none;
    width: fit-content;
}

.tip{
    text-align: center;
    width: 2rem;
}
.tip:hover{
    cursor:pointer;
}
.tip-percent:checked + .tip {
    box-shadow: 0 0 1px 1px #2ecc71;
    background-color: royalblue;
    color:white;
}