/**
  Default Markup
**/

body {
  background: #F0E5E1 ;
}

.container {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}


/**
  Component
**/

.card-input-element {
    display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
  border: 1px solid black;
  background-color: red;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #2ecc71;
  background-color: royalblue;
}
